@page

@{
    ViewData["Title"] = "Lucas Menchon";
}

<!--Formulario Contato-->

<div class="container shadow rounded text-light mt-5 pt-5 pb-5 gradient-custom" id="Contato">


    <h2 class="text-center mb-5">
        Contato
    </h2>
    <div class="row">


        <div class="col-12">
            <p>Posso ajudar com:</p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Purple" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg> C#, .NET, ASP.NET.
            </p>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="Purple" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg> HTML, BootStrap, CSS, MySql, Sql Server.
            </p>
            <p>
                Envie um e-mail para <a href="mailto:contato@tilucas.com">contato@tilucas.com</a><br />Me Ligue  <a href="tel: +55 11 97552-8024">+55 11 97552-8024 </a>
                <a class="ml-1" href="https://wa.me/message/PMGGTQIJXHVMH1" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" fill="Green" class="bi bi-whatsapp" viewBox="0 0 16 16">
                        <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z" />
                    </svg>
                </a>
            </p>
        </div>
    </div>
    <!--ENVIO PARA EMAIL-->
    <!--<div class="row">
        <div class="col-md-4">
            <form asp-action="EnviaEmail" id="form-email">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
    <!-- Enviar para um destinatario
        <div class="form-group">
        <label asp-for="To" class="control-label"></label>
        <input asp-for="To" class="form-control" />
        <span asp-validation-for="To" class="text-danger"></span>
    </div>-->
    <!--<div class="form-group">
                    <label class="control-label">Assunto</label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Mensagem</label>
                    <textarea asp-for="Body" class="form-control" rows="3" cols="15"></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                <div class="g-recaptcha" data-sitekey="6Lcli5QfAAAAAF594g6jpS74PXDnRZLR9DNJuJwm" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpired"></div>

                <div class="form-group">
                    <button id="btnSubmit" data-action='submit' data-callback='onSubmit' data-sitekey="6Lcli5QfAAAAAF594g6jpS74PXDnRZLR9DNJuJwm" type="submit" class="btn btn-success" onclick="myFunction()">Enviar</button>
                </div>

            </form>
            <script>
                 window.onload = function() {
                 var recaptcha = document.forms["form-email"]["g-recaptcha-response"];
                 recaptcha.required = true;
                 recaptcha.oninvalid = function(e) {
                 alert("Ops! Por favor preencha o reCAPTCHA.");
                   }
                }
            </script>

            <script>
                var form = document.getElementById('form-email');

                          function myFunction() {
                          if (form.checkValidity()) {
                          setTimeout( function ( ) { alert( "Obrigado. Mensagem Enviada!" ); }, 1000 );
                          }
                          }
            </script>

        </div>

    </div>-->
</div>
