@page

@{
    ViewData["Title"] = "Lucas Menchon";
}

<!--EDUCACAO-->
<div class="container shadow rounded mt-5 pb-5 pt-5 gradient-custom text-light">

    <h2 class=" mb-5 d-flex justify-content-center" id="Educacao">
        Educação
    </h2>

    <!--UNIVERSIDADE UNIP-->
    <div class="row ">
        <div class="col-sm-4  d-flex justify-content-center">
            <h6>Universidade Paulista - UNIP</h6>
        </div>
        <div class="col-sm-8 d-flex justify-content-center text-center row m-0">
            <h6>Superior de Tecnologia &nbsp- &nbsp</h6>
            <h6>Análise e Desenvolvimento de Sistemas</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 d-flex justify-content-center "><p> Abril/2022 - Junho/2024</p></div>
        <div class="col-sm d-flex justify-content-center">
            <p class="m-0 text-justify">
                A UNIP orienta suas atividades a partir dos conceitos de vocação para o ensino. Passando C# e Progamação Orientada a Objetos principalmente, entre outros com
                objetivo de capacitar o aluno a projetar, documentar, especificar, testar, implantar e manter sistemas de informação.
            </p>
        </div>
    </div>
    <hr style="background-color: #fff;" />
    <!--ETEC-->
    <div class="row ">
        <div class="col-sm-4 d-flex justify-content-center">
            <h6>Etec Juscelino Kubitschek</h6>
        </div>
        <div class="col-sm-8 d-flex justify-content-center">
            <h6>Técnico - Desenvolvimento de Sistemas</h6>

        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center"><p>Fevereiro/2021 - Junho/2022</p></div>
        <div class="col-sm d-flex justify-content-center">

            <p class="m-0 text-justify">
                A Etec é uma escola técnica estadual pública de São Paulo que oferece cursos gratuitos. Neste curso nós temos bastante
                atividades e provas práticas. Ela passa PHP, HTML, CSS, BootStrap, para desenvolvimento Web Front-end e
                C# para desenvolvimento Back-end e ajudar com lógica.
            </p>
        </div>
    </div>
    <!--ETEC-->

    <hr style="background-color: #fff;" />

    <!--CURSOS E CERTIFICADOS-->
    <div class="row ">
        <div class="col-sm-4 d-flex justify-content-center">
            <h6>Cursos | Certificados</h6>
        </div>
        <div class="col-sm-8 d-flex justify-content-center">
            <h6>Digital Innovation One Inc.</h6>

        </div>
    </div>
    <!--.NET #5-->
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center"><p><a class="text-white" href="https://www.dio.me/certificate/A8901A9A/share" target="_blank">GFT Start #5 .NET (53 Horas)</a></p></div>
        <div class="col-sm d-flex justify-content-center">

            <p class="m-0 text-justify">
                Bootcamp completo onde me ajudou muito em POO | C# | .NET | ASP.NET. Busco fazer cursos, aprender e sempre me manter atualizado.
            </p>
        </div>
    </div>
    <br />
    <!--HTML WEB DEV-->
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center"><p><a class="text-white" href="https://www.dio.me/certificate/E18EA81B/share" target="_blank">HTML Web Developer (27 Horas)</a></p></div>
        <div class="col-sm d-flex justify-content-center">

            <p class="m-0 text-justify">Bootcamp que passa práticas e designs em desenvolvimento web. Desenvolvendo páginas, layouts, navbars, praticando responsividade e etc.</p>
        </div>
    </div>

</div>


