@page

@{
    ViewData["Title"] = "Lucas Menchon";
}

<!--EDUCACAO-->
<div class="container shadow rounded mt-5 pb-5 pt-5 gradient-custom text-light">

    <h2 class=" mb-5 d-flex justify-content-center" id="Educacao">
        Educação
    </h2>

    <!--UNIVERSIDADE UNIP-->
    <div class="row ">
        <div class="col-sm-4  d-flex justify-content-center">
            <p>Universidade Paulista - UNIP</p>
        </div>
        <div class="col-sm-8 d-flex justify-content-center">
            <h6>Análise e Desenvolvimento de Sistemas</h6>
        </div>
    </div>
    <div class="row pb-5">
        <div class="col-sm-4 d-flex justify-content-center"><p> Abril/2022 - Junho/2024</p></div>
        <div class="col-sm d-flex justify-content-center">
            <p>Tecnologia da Informação. Engenharia de software, Banco de Dados, Projeto de Sistemas e Programação.</p>
        </div>
    </div>

    <!--ETEC-->
    <div class="row ">
        <div class="col-sm-4 d-flex justify-content-center">
            <p>Etec Juscelino Kubitschek</p>
        </div>
        <div class="col-sm-8 d-flex justify-content-center">
            <h6>Desenvolvimento de Sistemas</h6>

        </div>
    </div>
    <div class="row pb-5 d-flex justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center"><p>Fevereiro/2021 - Junho/2022</p></div>
        <div class="col-sm d-flex justify-content-center">

            <p>Tecnologia da Informação. Ambiente de Desenvolvimento, Linguagens de Programação e Banco de Dados.</p>
        </div>
    </div>
    <!--ETEC-->

    <div class="row pb-5 d-flex justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center"><p>Cursos | Certificados</p></div>
        <div class="col-sm d-flex justify-content-center">

            <p>
                <a class="text-white btn" href="https://www.dio.me/certificate/A8901A9A/share">GFT Start #5 .NET (53 Horas)</a>
                <i class="font-weight-light">Digital Innovation One Inc.</i> <br />
                Bootcamp completo onde me ajudou muito em POO | C# | .NET | ASP.NET <br />
                Busco fazer cursos, aprender e sempre se manter atualizado em .NET e C# 
            </p>

        </div>
    </div>

    <div class="row pb-5 d-flex justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center"><p></p></div>
        <div class="col-sm d-flex justify-content-center">

            <p>
                <a class="text-white btn" href="https://www.dio.me/certificate/E18EA81B/share">HTML Web Developer (27 Horas)</a>
                <i class="font-weight-light">Digital Innovation One Inc.</i> <br />
                Bootcamp onde aprendi muito sobre HTML, JavaScript, CSS e Bootstrap.
            </p>

        </div>
    </div>

</div>