@page

@{
    ViewData["Title"] = "Lucas Menchon";
}


<!--HABILIDADES-->
<div class="container shadow rounded mt-5 pb-5 pt-5 gradient-custom text-light" id="Habilidades">

    <h2 class=" mb-5 d-flex justify-content-center">
        Habilidades
    </h2>
    <div class=" mb-5 d-flex justify-content-center"><h5><i>Mais Utilizadas</i></h5></div>
    <div class="row mb-5">

        <div class="col-3 d-flex justify-content-center"><h6>C#</h6></div>
        <div class="col-3 d-flex justify-content-center"><h6>.NET</h6></div>
        <div class="col-3 d-flex justify-content-center"><h6>ASP.NET</h6></div>
        <div class="col-3 d-flex justify-content-center"><h6>HTML & BootStrap</h6></div>
        

    </div>

    <h5 class=" mb-5 d-flex justify-content-center">Outras</h5>
    <div class="row">
        <div class="col-3 d-flex justify-content-center"><p>JavaScript</p></div>
        <div class="col-3 d-flex justify-content-center"><p>PHP</p></div>
        <div class="col-3 d-flex justify-content-center"><p>CSS</p></div>
        <div class="col-3 d-flex justify-content-center"><p>MySql</p></div>
        <div class="col-3 d-flex justify-content-center"><p>Sql Server</p></div>
        <div class="col-3 d-flex justify-content-center"><p>MVC</p></div>
        <div class="col-3 d-flex justify-content-center"><p>WordPress</p></div>
        <div class="col-3 d-flex justify-content-center"><p>Git</p></div>
        <div class="col-3 d-flex justify-content-center"><p>GitHub</p></div>
        <div class="col-3 d-flex justify-content-center"><p>Oracle Cloud</p></div>
    </div>
</div>

