@page

@{
    ViewData["Title"] = "Lucas Menchon";
}

<!--HEADER-->

    <div class="container text-white">


        <div class="col-8 text-justify">
            Redirecionando pois atualizei para um novo domínio e novo site!
            Caso não seja redirecionado, segue o link:
            Link > <a href="https://luccas.dev">luccas.dev</a> https://luccas.dev
        </div>

        

    </div>
    <!--HEADER-->

