@page

@{
    ViewData["Title"] = "Lucas Menchon";
}

<!--PROJETOS-->
<div class="container shadow rounded mt-5 pb-5 pt-5 gradient-custom" id="Projetos">

    <h2 class=" mb-5 d-flex justify-content-center text-light">
        Projetos
    </h2>


    <div class="row d-flex justify-content-center ">

        <!--TCC BOOK SOLUTION-->
        <div class="col-md-auto d-flex justify-content-center p-1">
            <div class="card" style="width: 18rem;">
                <img src="~/images/projetos/booksolution.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Book Solution</b><br />É um projeto feito em grupo para formatura na Etec, sou responsável pelo back-end e utilizamos PHP. Para acessar
                        <a href="https://bsg.tilucas.com" target="_blank">
                          <br />  clique aqui</a>.
                        Projeto no <a href="https://github.com/lucasmenchon/book-solution" target="_blank">GitHub</a>
                    </p>
                </div>
            </div>
        </div>

        <!--BITBANK-->
        <div class="col-md-auto d-flex justify-content-center p-1">
            <div class="card" style="width: 18rem;">
                <img src="~/images/projetos/BitBank.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>
                        <b>BitBank</b><br />Projeto C# Desktop para praticar. Simulação de um Banco.
                        Projeto no <a href="https://github.com/lucasmenchon/BitBank-Treino-Csharp" target="_blank">GitHub.</a>
                        Veja mais projetos no meu GitHub!
                    </p>
                </div>
            </div>
        </div>

        <!--ASP.NET SITE-->
        <div class="col-md-auto d-flex justify-content-center p-1">
            <div class="card" style="width: 18rem;">
                <img src="~/images/projetos/aspnetsite.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>
                        <b>ASP.NET Site</b><br />Este é meu novo site feito em ASP.NET, C#, BootStrap, que farei bastante melhorias no futuro.
                        Projeto no <a href="https://github.com/lucasmenchon/aspnet-site" target="_blank">GitHub</a>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>