@page

@{
    ViewData["Title"] = "Lucas Menchon";
}

<!--PROJETOS-->
<div class="container shadow rounded mt-5 pb-5 pt-5 gradient-custom" id="Projetos">

    <h2 class=" mb-5 d-flex justify-content-center text-light">
        Projetos
    </h2>


    <div class="row d-flex justify-content-center ">

        <!--TCC BOOK SOLUTION-->
        <div class="col-md-auto d-flex justify-content-center p-1">
            <div class="card" style="width: 18rem;">
                <img src="~/images/projetos/booksolution.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>Book Solution</b><br />É um projeto feito em grupo para formatura na Etec, sou responsável pelo back-end e utilizamos PHP. Para acessar
                        <a href="https://bsg.tilucas.com" target="_blank">
                          <br />  clique aqui</a>.
                        Projeto no <a href="https://github.com/costinha7/book-solution" target="_blank">GitHub</a>
                    </p>
                </div>
            </div>
        </div>

        <!--MVC DIO, API-->
        <div class="col-md-auto d-flex justify-content-center p-1">
            <div class="card" style="width: 18rem;">
                <img src="~/images/projetos/BitBank.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>
                        <b>MVC DIO</b><br />Projeto C# Asp.Net de um curso onde aprendo bastante sobre MVC, API e testes.
                        Projeto no <a href="https://github.com/lucasmenchon/webapp_dio" target="_blank">GitHub.</a>
                    </p>
                </div>
            </div>
        </div>

        <!--ASP.NET SITE-->
        <div class="col-md-auto d-flex justify-content-center p-1">
            <div class="card" style="width: 18rem;">
                <img src="~/images/projetos/aspnetsite.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>
                        <b>ASP.NET Site</b><br />Este é meu novo site feito em ASP.NET, C#, BootStrap, que pretendo fazer bastante melhorias no futuro.
                        Projeto no <a href="https://github.com/lucasmenchon/site_att" target="_blank">GitHub</a>
                    </p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row d-flex justify-content-center ">

        <!--TCC EM C# Asp.Net-->
        <div class="col-md-auto d-flex justify-content-center p-1">
            <div class="card" style="width: 18rem;">
                <img src="~/images/projetos/crudtcc.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <b>ALR Livros</b><br />É o TCC que fiz da Etec em PHP porém está em MVC feito em C# Asp.Net, hospedei na Azure, para acessar
                        <a href="https://tccg3.azurewebsites.net/" target="_blank">
                          clique aqui</a>. <br />
                        Projeto no <a href="https://github.com/lucasmenchon/crud_biblioteca" target="_blank">GitHub</a>
                    </p>
                </div>
            </div>
        </div>

        <!--JOGO POO-->
        <div class="col-md-auto d-flex justify-content-center p-1">
            <div class="card" style="width: 18rem;">
                <img src="~/images/projetos/exemplopoo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>
                        <b>Exemplos POO</b><br />Projeto C# Desktop para praticar POO (Programação Orientada a Objetos).
                        Projeto no <a href="https://github.com/lucasmenchon/jogo_poo" target="_blank">GitHub.</a>
                        Veja mais projetos no meu GitHub!
                    </p>
                </div>
            </div>
        </div>
        
    </div>

</div>